<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3ccd897f-e1f8-48a6-915b-42d4a27f2eee"></script>
<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
</html>
