<div class="map">
    <div id="map"></div>
    <div class="reviewForm">
        <div class="reviewForm__header">
            <div class="reviewForm__text">
                <div class="reviewForm__marker"></div>
                <div class="reviewForm__adress">Невский пр., 78, Санкт-Петербург, 191025</div>
            </div>
            <div class="reviewForm__close"></div>
        </div>
        <div class="reviewList">
            
        </div>
        <div class="addReview">
            <div class="addReview__header">ВАШ ОТЗЫВ</div>
            <form class="addReview__form">
                <input class="addReview__input" requared placeholder="Ваше имя" type="text" name="name" id="">
                <input class="addReview__input" requared placeholder="Укажите место" type="text" name="place" id="">
                <textarea class="addReview__textarea" requared placeholder="Поделитесь впечатлениями"></textarea>
                <div class="addReview__bottom">
                    <a class="addReview__button">Добавить</a>
                </div>
            </form>
        </div>
    </div>
</div>